body{
  margin: 0 auto;
}


.App{
  padding: 3rem;
  width:100%;
  height: 100%;
  color:black;
  background-color: pink;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  margin: 0 auto;
  text-align: center;
  font-size:29px;
  text-decoration: underline;
}

.content__main{
  text-align: center;
  background-color: darksalmon;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: black;
}

.content__dice{
  display:flex;
  margin: 30;
  padding:1rem;
}

.tarning{
  width: 100px;
  height: 100px;
  margin: 10px;
}

.knapp {
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 rgb(255, 0, 140);
  color: black;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  width: 210px;
}

.knapp:hover{
  box-shadow: 0 2px 0 0 black;
}

.knapp:active{
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.05);
}

.strike{
  text-decoration: line-through;
  color:white;
}